html,
body {
	height: 100%;
	font-family: "Mulish", sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Mulish", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Mulish", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 30px;
}

.section-title h4,
.section-title h5 {
	color: #2F2F2F;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
	font-family: "Oswald", sans-serif;
}

.section-title h4:after,
.section-title h5:after {
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
	background: #e53637;
	content: "";
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
}

.primary-btn span {
	font-size: 18px;
	margin-left: 5px;
	position: relative;
	top: 3px;
}

.site-btn {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}

.spacial-controls .search-switch {
	display: block;
	height: 100%;
	padding-top: 30px;
	background: #323232;
	text-align: center;
	cursor: pointer;
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*---------------------
  Header
-----------------------*/

.header {
	background: #80C0D3;
}

.header__menu {
	text-align: center;
}



.header__menu ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	margin-right: 16px;
}

/*.header__menu ul li.active a {
	background: #CBD5D6
;
}
*/
.header__menu ul li:hover a {
	color: #ffffff;
	background: #CBD5D6;
}

.header__menu ul li:hover .dropdown {
	top: 62px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover .dropdown li a {
	background: transparent;
}

.header__menu ul li:last-child {
	margin-right: 0;
}
.square {
  height: 450px;
  width: 1000px;
  background-color: #99B3B6;
}

.faquestion {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.faquestioncont{
	flex-basis: 300px;
	flex-grow: 0;
	flex-shrink: 0;
}


.header__menu ul li:hover .dump {
	top: 62px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover .dump li a {
	background: transparent;
}


.header__menu ul li .dump {
	position: absolute;
	left: 0;
	top: 82px;
	width: 150px;
	background: #ffffff;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}


.header__menu ul li .dump li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dump li a {
	font-size: 14px;
	color: #000000;
	font-weight: 500;
	padding: 5px 20px;
}





.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 82px;
	width: 150px;
	background: #ffffff;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}


.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #111111;
	font-weight: 500;
	padding: 5px 20px;
}

.header__menu ul li a {
	font-size: 15px;
	color: #000000;
	display: block;
	font-weight: 700;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	padding: 20px;
}

.header__menu ul li a span {
	position: relative;
	font-size: 17px;
	top: 2px;
}

.header__right {
	text-align: right;
	padding: 20px 0 15px;
}

.header__right a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	margin-right: 30px;
}

.header__right a:last-child {
	margin-right: 0;
}

.slicknav_menu {
	display: none;
}




.hero {
	padding-top: 50px;
}

.hero__items {
	padding: 250px 0 42px 50px;
	border-radius: 5px;
}

.hero__text {
	position: relative;
	z-index: 9;
}

.hero__text .label {
	font-size: 13px;
	color: #e53637;
	background: #ffffff;
	padding: 5px 14px 3px;
	display: inline-block;
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 0.2s;
	-o-transition: all, 0.2s;
	transition: all, 0.2s;
}

.hero__text h2 {
	color: #ffffff;
	font-size: 42px;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	line-height: 52px;
	margin-top: 35px;
	margin-bottom: 8px;
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 0.4s;
	-o-transition: all, 0.4s;
	transition: all, 0.4s;
}

.hero__text p {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 40px;
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 0.6s;
	-o-transition: all, 0.6s;
	transition: all, 0.6s;
}

.hero__text a {
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.hero__text a span {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 14px 20px;
	border-radius: 4px 0 0 4px;
	margin-right: 1px;
}

.hero__text a i {
	font-size: 20px;
	display: inline-block;
	background: #e53637;
	padding: 11px 5px 16px 8px;
	color: #ffffff;
	border-radius: 0 4px 4px 0;
}

.hero__slider.owl-carousel .owl-item.active .hero__text .label {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text h2 {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text p {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text a {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-dots {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.hero__slider.owl-carousel .owl-dots button {
	height: 8px;
	width: 8px;
	background: #b7b7b7;
	border-radius: 50%;
	margin-right: 10px;
}

.hero__slider.owl-carousel .owl-dots button.active {
	background: #ffffff;
}

.hero__slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}

.hero__slider.owl-carousel .owl-nav button {
	font-size: 36px;
	height: 66px;
	width: 66px;
	background: #80C0D3;
	line-height: 66px;
	text-align: center;
	color: #000000;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	z-index: 1;
	position: absolute;
	left: -33px;
	top: 50%;
	margin-top: -47px;
}

.hero__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -33px;
}

.hero__slider.owl-carousel .owl-nav button:after {
	position: absolute;
	top: 6px;
	left: 0;
	right: 0;
	height: 54px;
	width: 54px;
	background: rgba(255, 255, 255, 0.1);
	content: "";
	z-index: -1;
	margin: 0 auto;
}

.hero__slider.owl-carousel .owl-nav button span {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: block;
	z-index: 1;
}





/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
	padding-top: 35px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #323232;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a i {
	margin-right: 5px;
	color: #323232;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "ï„…";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #323232;
	display: inline-block;
}

/*---------------------
    Normal Breadcrumb
-----------------------*/

.normal-breadcrumb {
	height: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.normal__breadcrumb__text h2 {
	color: #000000;
	font-size: 48px;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	margin-bottom: 22px;
}

.normal__breadcrumb__text p {
	color: #000000;
	font-size: 24px;
	margin-bottom: 0;
}

/*---------------------
    Blog
-----------------------*/



/*---------------------
  Login
-----------------------*/



/*---------------------
  Sign Up
-----------------------*/


/*---------------------
  Footer
-----------------------*/

.footer {
	background: #80C0D3;
	padding-top: 60px;
	padding-bottom: 40px;
	position: relative;
}

.page-up {
	position: absolute;
	left: 50%;
	top: -25px;
	margin-left: -25px;
}

.page-up a {
	display: inline-block;
	font-size: 36px;
	color: #ffffff;
	height: 50px;
	width: 50px;
	background: #e53637;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
}

.page-up a span {
	position: relative;
	top: 2px;
	left: -1px;
}

.footer__nav {
	text-align: center;
}

.footer__nav ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	margin-right: 40px;
}

.footer__nav ul li:last-child {
	margin-right: 0;
}

.footer__nav ul li a {
	font-size: 15px;
	color: #000000;
	display: block;
	font-weight: 700;
}

.footer__copyright__text {
	color: #b7b7b7;
	margin-bottom: 0;
	text-align: right;
}

.footer__copyright__text a {
	color: #e53637;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.hero {
		overflow: hidden;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.hero {
		overflow: hidden;
	}
	.login__form {
		position: relative;
		padding-left: 32px;
	}
	.login__social__links ul li a {
		width: 380px;
	}
	.blog__item__text {
		padding: 0 50px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero {
		overflow: hidden;
	}
	.header {
		position: relative;
	}
	.header .container {
		position: relative;
	}
	.header__right {
		position: absolute;
		right: 120px;
		top: -42px;
		padding: 0;
	}
	.header__menu {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		display: block;
	}
	.slicknav_nav {
		position: absolute;
		left: 0;
		top: 60px;
		width: 100%;
		background: #ffffff;
		padding: 15px 30px;
		z-index: 9;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_btn {
		border-radius: 0;
		background-color: #222;
		position: absolute;
		right: 0;
		top: 9px;
	}
	.slicknav_nav .slicknav_arrow {
		color: #111111;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.product__sidebar {
		padding-top: 50px;
	}
	.footer__logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer__nav {
		margin-bottom: 15px;
	}
	.footer__copyright__text {
		text-align: center;
	}
	.anime__details__widget ul li span {
		width: 90px;
	}
	.anime__details__pic {
		margin-bottom: 40px;
	}
	.anime__details__sidebar {
		padding-top: 50px;
	}
	.login__form {
		padding-left: 0;
		margin-bottom: 40px;
	}
	.login__form:after {
		display: none;
	}
	.login__form form .input__item {
		width: auto;
	}
	.login__register {
		padding-left: 0;
	}
	.signup .login__social__links {
		padding-left: 0;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hero {
		overflow: hidden;
	}
	.header {
		position: relative;
	}
	.header .container {
		position: relative;
	}
	.header__right {
		position: absolute;
		right: 120px;
		top: -42px;
		padding: 0;
	}
	.header__menu {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		display: block;
	}
	.slicknav_nav {
		position: absolute;
		left: 0;
		top: 60px;
		width: 100%;
		background: #ffffff;
		padding: 15px 30px;
		z-index: 9;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_btn {
		border-radius: 0;
		background-color: #222;
		position: absolute;
		right: 0;
		top: 9px;
	}
	.slicknav_nav .slicknav_arrow {
		color: #111111;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.product__sidebar {
		padding-top: 50px;
	}
	.footer__logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer__nav {
		margin-bottom: 15px;
	}
	.footer__copyright__text {
		text-align: center;
	}
	.blog__details__title h2 {
		font-size: 34px;
		line-height: normal;
	}
	.anime__details__pic {
		margin-bottom: 40px;
	}
	.anime__details__sidebar {
		padding-top: 50px;
	}
	.btn__all {
		text-align: left;
	}
	.product__page__title .section-title {
		margin-bottom: 30px;
	}
	.product__page__title .product__page__filter {
		text-align: left;
	}
	.anime__details__rating {
		text-align: left;
		position: relative;
		margin-bottom: 20px;
	}
	.blog__details__social {
		overflow: hidden;
	}
	.blog__details__title .blog__details__social a {
		margin-right: 10px;
		margin-bottom: 10px;
		width: calc(50% - 10px);
		float: left;
	}
	.login__form {
		padding-left: 0;
		margin-bottom: 40px;
	}
	.login__form:after {
		display: none;
	}
	.login__form form .input__item {
		width: auto;
	}
	.signup .login__social__links {
		padding-left: 0;
	}
	.login__social__links ul li a {
		width: auto;
	}
	.blog__item__text {
		padding: 0 30px;
	}
	.login__register {
		padding-left: 0;
	}
	.product__sidebar__view .filter__controls li {
		margin-right: 2px;
	}
	.search-model-form input {
		width: 100%;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.hero__slider.owl-carousel .owl-nav {
		display: none;
	}
	.hero__items {
		padding: 250px 0 42px 15px;
	}
	.hero__text h2 {
		font-size: 32px;
	}
	.footer__nav ul li {
		margin-right: 10px;
	}
	.anime__details__btn .follow-btn {
		padding: 14px 26px;
		margin-right: 11px;
		margin-bottom: 25px;
	}
	.anime__details__widget ul li span {
		width: 85px;
	}
	.anime__video__player .plyr__volume {
		left: 65px;
	}
	.anime__video__player .plyr__controls .plyr__controls__item.plyr__time {
		left: 95px;
	}
	.anime__video__player .plyr__menu {
		margin-right: 60px;
	}
	.blog__details__title h2 {
		font-size: 30px;
		line-height: normal;
	}
	.blog__details__title .blog__details__social a {
		padding: 16px 25px 14px 20px;
	}
	.blog__details__comment__item.blog__details__comment__item--reply {
		padding-left: 0;
	}
	.blog__details__comment__item__pic {
		margin-right: 25px;
	}
	.blog__details__comment__item__text a {
		margin-right: 6px;
	}
	.login__social__links ul li a i {
		left: 20px;
	}
	.login__form .forget_pass {
		position: relative;
		left: 0;
		bottom: 0;
		margin-top: 25px;
	}
	.header__right a {
		margin-right: 10px;
	}
	.anime__review__item__text h6 span {
		font-size: 12px;
	}
	.anime__review__item__text {
		padding: 18px 20px 20px;
	}

	.about_font {
		font-family:'Courier New', Courier, monospace;
		text-decoration: solid;
	}
}
